<div class="panel panel-default">

    <div>
        <button (click)='handleDeletePost()'>
            <span class="glyphicon glyphicon-remove icon"></span>
        </button>
    </div>

    <form class="form-horizontal" (ngSubmit)="handleSubmit(category.value, publish.value, title.value, body.value, subtitle?.value)"
        #editForm="ngForm" novalidate>

        <div class="panel-heading">
            <h1 class="panel-title">
                <b>Edit a Post</b>
            </h1>
        </div>

        <div class="panel-body">

            <div class="form-group col-md-6">
                <div>
                    <label class="control-label">Category</label>
                </div>

                <div>
                    <select name="category" class="form-control" #category>
                        <option>FLUFF</option>
                        <option>RANT</option>
                        <option>NEUTRAL</option>
                        <option>THOUGHTS</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-md-6">
                <div>
                    <label class="control-label">Publish</label>
                </div>

                <div>
                    <select class="form-control" #publish>
                        <option>PUBLISH</option>
                        <option>DRAFT</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label">Title</label>

                <div>
                    <input type="text" name="title" required #title="ngModel" [ngModel]="post.title" class="form-control" placeholder="Title">
                </div>

                <div *ngIf="title.errors?.required && title.dirty">
                    Title is required
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label">Subtitle</label>

                <div>
                    <input type="text" name="subtitle" #subtitle="ngModel" [ngModel]="post?.subtitle" class="form-control" placeholder="Subtitle">
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label">Body</label>
                <textarea class="form-control" rows="12" minlength="100" id="comment" name="body" required #body="ngModel" [ngModel]="post.body"></textarea>
            </div>

            <div class="form-group col-md-12">
                Count : {{body.value.length}}
            </div>

            <div class="form-group col-md-12" *ngIf="body.value.length == 0 && body.errors?.required && body.dirty">
                Body is required
            </div>

            <div class="form-group col-md-12" *ngIf="body.value.length < 100 && body.dirty">
                Body must be 100 characters or more
            </div>

            <div class="form-group ">
                <div>
                    <button type="submit" class="btn btn-default col-md-offset-4 col-md-4" [disabled]="editForm.invalid">Post</button>
                </div>
            </div>

        </div>
    </form>
</div>