<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            <b>{{post.title}} </b>
        </h1>
        {{post?.subtitle}}
    </div>

    <div class="panel-body">
        {{post.body}}
        <br>
        <br> Category : {{post.category}}
        <br> Date Posted : {{post.date | date : 'medium'}}
    </div>

    <div class="panel-footer">
        <div class="text-left">
            <!--LINK-->{{post.author}}
        </div>

        <div class="text-right" *ngIf='isCurrentUser'>
            
            <button><span class="glyphicon glyphicon-pencil icon"></span></button>
            <button><span class="glyphicon glyphicon-remove icon"></span></button>
        </div>

    </div>
</div>