<div class='col-md-offset-1 col-md-10'>
    <div *ngIf='!isEditing; else edit'>
        <div class="panel panel-default">

            <div class="panel-heading">
                <h1 class="panel-title">
                    <b>{{user.username}}</b>
                </h1>
            </div>

            <div class="panel-body">
                <b>Information : </b>
            </div>

            <ul class="list-group">
                <li class="list-group-item">First Name : {{user.firstname}}</li>
                <li class="list-group-item">Middle Name : {{user.middlename}}</li>
                <li class="list-group-item">Last Name : {{user.lastname}}</li>
                <li class="list-group-item">Email : {{user.email}}</li>
                <li class="list-group-item">Birthdate : {{user.birthdate}}</li>
                <div *ngIf="user?.interests">
                    <li class="list-group-item">Interests :</li>
                    <div *ngFor='let interest of user?.interests'>
                        <li class="list-group-item">{{interest}}</li>
                    </div>
                </div>
            </ul>

            <div class="panel-footer">
                <button class="btn btn-default" (click)="toggleEditing()">Edit</button>
            </div>

        </div>
    </div>

    <ng-template #edit>
        <form class="form-horizontal" (ngSubmit)="handleSubmit(username.value, firstname.value, middlename.value, lastname.value, email.value, date.value)"
            #editForm="ngForm" novalidate>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h1 class="panel-title">
                        <b>Edit Profile</b>
                    </h1>
                </div>

                <div class="panel-body">

                    <div class="form-group col-md-6">
                        <div>
                            <label class="control-label">Username</label>
                        </div>

                        <div>
                            <input type="text" name="username" required #username="ngModel" [ngModel]="user.username" class="form-control" placeholder="Username">
                        </div>

                        <div *ngIf="username.errors?.required && username.dirty">
                            Username is required
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div>
                            <label class="control-label">First Name</label>
                        </div>

                        <div>
                            <input type="text" name="firstname" required #firstname="ngModel" [ngModel]="user.firstname" class="form-control" placeholder="First Name">
                        </div>

                        <div *ngIf="firstname.errors?.required && firstname.dirty">
                            First Name is required
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div>
                            <label class="control-label">Middle Name</label>
                        </div>

                        <div>
                            <input type="text" name="middlename" required #middlename="ngModel" [ngModel]="user.middlename" class="form-control" placeholder="Middle Name">
                        </div>

                        <div *ngIf="middlename.errors?.required && middlename.dirty">
                            Middle Name is required
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div>
                            <label class="control-label">Last Name</label>
                        </div>

                        <div>
                            <input type="text" name="lastname" required #lastname="ngModel" [ngModel]="user.lastname" class="form-control" placeholder="Last Name">
                        </div>

                        <div *ngIf="lastname.errors?.required && lastname.dirty">
                            Last Name is required
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div>
                            <label class="control-label">Email</label>
                        </div>

                        <div>
                            <input type="text" name="email" required #email="ngModel" [ngModel]="user.email" class="form-control" placeholder="Email">
                        </div>

                        <div *ngIf="email.errors?.required && email.dirty">
                            Email is required
                        </div>
                    </div>

                    <!-- DATE PICKER -->
                    <link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">

                    <div class="form-group col-md-6">

                        <label class="control-label">Birthday</label>

                        <div>
                            <input type="text" name="date" class="form-control" #date='ngModel' [ngModel]="user.birthdate" bsDatepicker [bsValue]="bsValue"
                                placement="bottom" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }">
                        </div>
                    </div>

                    
                    <!--//////////////////          INTERESTS          /////////////////////-->

                    <div class="form-group ">
                        <div class='col-md-12'>
                            <button type="submit" class="btn btn-default" [disabled]="editForm.invalid" (click)="toggleEditing()">Edit</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </ng-template>
</div>